version: "3.0"


services:
  eocdb-server:
    build: .
    image: eocdb-server:0.1.0
    ports:
      - "4000:4000"
    command: >
      "source activate eocdb-dev && eocdb-server -a 0.0.0.0 -v -c eocdb/ws/res/demo/config.yml"
    healthcheck:
      test: ["CMD", "curl", "localhost:4000/"]
      interval: 30s
